<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nchu.wechatOrder.mapper.ex.SellerInfoMapperEx" >
  <resultMap id="BaseResultMap" type="com.nchu.wechatOrder.domain.DO.SellerInfo" >
    <id column="sell_id" property="sellId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="descript" property="descript" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="user_count" property="userCount" jdbcType="VARCHAR" />
  </resultMap>


  <select id="selectByNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sell_id, username, `password`, create_time, update_time, address, descript, 
    `state`, user_count
    from seller_info
    where user_count = #{no}
  </select>


  <select id="querySellBypage" resultMap="BaseResultMap"  >
    select sell_id, username, `password`, create_time, update_time, address, descript,
    `state`, user_count
    from seller_info
    where `state` = #{Status}  or `state`=0
  </select>

  <select id="CountBySellBypage" resultMap="BaseResultMap"  >
    select count(1)
    from seller_info
    where `state` = #{Status} or `state`=0
  </select>

</mapper>