<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/layUIAdmin">
<!-- layout文件路径-->

<head>
     <title>后台登陆页面</title>


</head>


<body>
<div layout:fragment="content">




    <div class="container">
        <script language="JavaScript">
            function myrefresh() {
                window.location.reload();
            }
            setTimeout('myrefresh()', 3000); //指定3秒刷新一次
        </script></span></span>


        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <img  src="/QRCode"/>

            </div>
        </div> <!-- /container -->


    </div>
</div>

</body>

</html>