<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nchu.mapper.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.nchu.pojo.DO.ProductInfo" >
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_stock" property="productStock" jdbcType="INTEGER" />
    <result column="product_description" property="productDescription" jdbcType="VARCHAR" />
    <result column="product_icon" property="productIcon" jdbcType="VARCHAR" />
    <result column="product_status" property="productStatus" jdbcType="TINYINT" />
    <result column="sell_id" property="sellId" jdbcType="VARCHAR" />
    <result column="category_type" property="categoryType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product_info
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nchu.pojo.DO.ProductInfo" >
    <selectKey resultType="java.lang.String" keyProperty="productId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_info (product_name, product_price, product_stock, 
      product_description, product_icon, product_status, 
      sell_id, category_type, create_time, 
      update_time)
    values (#{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{productStock,jdbcType=INTEGER}, 
      #{productDescription,jdbcType=VARCHAR}, #{productIcon,jdbcType=VARCHAR}, #{productStatus,jdbcType=TINYINT}, 
      #{sellId,jdbcType=VARCHAR}, #{categoryType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nchu.pojo.DO.ProductInfo" >
    update product_info
    set product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_stock = #{productStock,jdbcType=INTEGER},
      product_description = #{productDescription,jdbcType=VARCHAR},
      product_icon = #{productIcon,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=TINYINT},
      sell_id = #{sellId,jdbcType=VARCHAR},
      category_type = #{categoryType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select product_id, product_name, product_price, product_stock, product_description, 
    product_icon, product_status, sell_id, category_type, create_time, update_time
    from product_info
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select product_id, product_name, product_price, product_stock, product_description, 
    product_icon, product_status, sell_id, category_type, create_time, update_time
    from product_info
  </select>
</mapper>